.header {
    height: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background: rgb(238, 238, 238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(204, 204, 204, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0); /* IE6-9 */

}

#distance {
    height: 50%;
    margin-bottom: -13.75em
}

.footer {
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    background: rgb(238, 238, 238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(204, 204, 204, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0); /* IE6-9 */

}

.container {
    margin-top: 60px;
}

.navigation_vertical {
    width: 220px;
    float: left;
}

.loginform, .registration_form {
    margin: 0 auto;
    text-align: center;
    width: 320px;
    height: 200px;
    position: relative;
}

.logout_btn {
    position: absolute;
    top: 10px;
    right: 30px;
}

.navigation_btn {
    width: 200px;
    margin: 5px;
}

.content {
    position: absolute;
    left: 230px;
    width: 800px;
    margin: 10px;
}

