<html>
<head>
    <link type="text/css" href="../resources/css/flick/jquery-ui-1.8.18.custom.css" rel="stylesheet"/>
    <link type="text/css" href="../resources/css/style.css" rel="stylesheet"/>
    <link type="text/css" href="../resources/css/validationEngine.jquery.css" rel="stylesheet"/>
    <link type="text/css" href="../resources/css/template.css" rel="stylesheet"/>


    <script type="text/javascript" src="../resources/js/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="../resources/js/languages/jquery.validationEngine-en.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="../resources/js/jquery.validationEngine.js" charset="utf-8"></script>


    <script>
        jQuery(document).ready(function () {
            // binds form submission and fields to the validation engine
            jQuery("#regForm").validationEngine();
        });

        /**
         *
         * @param {jqObject} the field where the validation applies
         * @param {Array[String]} validation rules for this field
         * @param {int} rule index
         * @param {Map} form options
         * @return an error string if validation failed
         */
        function checkHELLO(field, rules, i, options) {
            if (field.val() != "HELLO") {
                // this allows to use i18 for the error msgs
                return options.allrules.validate2fields.alertText;
            }
        }
    </script>
    <title></title>
</head>
<body>

<div id="header" class="header"></div>
<div id="distance"></div>
<div id="signup" align="center" class="registration_form">
    <form id="regForm" enctype="application/x-www-form-urlencoded" method="post">
        <fieldset>
            <table>
                <tr>
                    <td>
                        Login:
                    </td>
                    <td>
                        <input type="text" name="login" size="30" class="validate[required] text-input"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>

                        <input type="password" name="password" size="30" class=/>
                    </td>
                </tr>
                <tr>
                    <td>
                        E-mail:
                    </td>
                    <td>
                        <input type="text" name="email" size="30" class="validate[required,custom[email]] text-input"/>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <button id="regButton" name="regButton" type="button" style="width: 170px">Sign up</button>
                    </td>

                    <td align="center">
                        <a href="/welcome">
                            <button id="home" name="regButton" type="button" style="width: 170px">Home</button>
                        </a>
                    </td>
                </tr>
            </table>
        </fieldset>
        validate[required]
    </form>

</div>


<div id="footer" class="footer">2012</div>


</body>
</html>